<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.dribbbleapiservicedemo">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".GlobalApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_dribbble_logo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.OAuthWebActivity" />
        <activity android:name=".ui.ShotDetailActivity" />
        <activity
            android:name=".ui.ShotLikeUserActivity"
            android:label="@string/title_activity_shot_like_user"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".ui.UserInfoActivity"
            android:label="@string/title_activity_user_info"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".ui.WebViewActivity"
            android:label="@string/title_activity_web_view"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:scheme="sqsong" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.thefinestartist.finestwebview.FinestWebViewActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="sensor"
            android:theme="@style/FinestWebViewTheme.Light"/>
    </application>

</manifest>